:root {
  --orange: orange;
  --pink: #d99a9a;
  --beige: #f6f6f1;
  --brown: #242424;
  --white: white;
}

body {
  background-color: var(--beige);
}
h1 {
  color: orange;
}
button {
  color: var(--white);
  background-color: var(--brown);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  border-radius: 6px;
  padding: 10px 20px;
  margin-bottom: 20px;
}
#helloWorld {
  color: var(--white);
  background-color: var(--pink);
  border-color: var(--orange);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  border-radius: 6px;
  padding: 10px 20px;
}
