:root {
  --orange: orange;
  --pink: #d99a9a;
  --beige: #f6f6f1;
  --brown: #242424;
  --white: white;
}

/* CSS RESET */
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--beige);
}
h1 {
  color: orange;
  margin-bottom: 20px;
  text-align: center;
  font-size: 36px;
}
button {
  color: var(--white);
  background-color: var(--brown);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  border-radius: 6px;
  padding: 10px 20px;
  margin-bottom: 20px;
}
#helloWorld {
  color: var(--white);
  background-color: var(--pink);
  border-color: var(--brown);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  border-radius: 6px;
  padding: 10px 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
label {
  color: var(--brown);
  font-size: 16px;
  margin-left: 50px;
}
